
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="group-index">
    <div class="group-customer">
        <a href="#">
            <img src="~/images/icon-customer.png" />
            <span><h3 class="total-revenue"><b>Customers</b></h3></span>
            <span>
                <h4><label style="display: inline; margin-left: 5px;">HT Tổng khách đã mua hàng</label></h4>
            </span>
        </a>
    </div>

    <div class="group-product">
        <a href="#">
            <img src="~/images/icon-book.png" />
            <span><h3 class="total-revenue"><b>Total products</b></h3></span>
            <span>
                <h4><label style="display: inline; margin-left: 5px;">HT tổng sp đã bán được</label></h4>
            </span>
        </a>
    </div>

    <div class="group-revenue">
        <a href="#">
            <img src="~/images/icon-cash-moneys.png" />
            <span><h3 class="total-revenue"><b>Total revenue</b></h3></span>
            <span>
                <h4 style="display: inline; margin: 0;"><b>$</b></h4>
                <h4><label style="display: inline; margin-left: 5px;">Hiển thị tổng tiền</label></h4>
            </span>
        </a>
    </div>
</div>

