<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"] FlashShop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Admin.css" asp-append-version="true" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.9.1/font/bootstrap-icons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/FlashShop.styles.css" asp-append-version="true" />
    <link rel="icon" href="~/favicon.ico" type="image/x-icon" />

</head>
<body>
    <div>
        <div class="navigation">
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="background-color:  #A0D6B4;">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Home">
                        <img src="~/images/faviconx3.ico" alt="Logo Flash Shop" class="logo-img" />
                        <span class="text-1">FLASH</span><span class="text-2">SHOP</span>
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        
                        <form class="d-flex me-3">
                            <div class="input-group">
                                <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                                <span class="input-group-text" >
                                    <i class="bi bi-search"></i>
                                </span>
                            </div>
                        </form>
                    </div>
                    <div class="icon-group">
                           <a href="#"><img src="~/images/icon-shopping.png"/></a>
                            <a href="#"><img src="~/images/icon-bell.png" /></a>
                            <a href="#"><img src="~/images/icon-bar.png" /></a>
                    </div>
                </div>
            </nav>

            
        </header>
    </div>
    <div class="">
        <!-- side bar -->
            <aside id="sidebar" class="sidebar">

                <ul class="sidebar-nav" id="sidebar-nav">

                    <li class="nav-item">
                        <a class="sidebar-link " href="index.html">
                            <i class="bi bi-grid"></i>
                            <span class="Content-index">      Dashboard</span>
                        </a>
                    </li><!-- End Dashboard Nav -->

                    <li class="nav-item">
                        <a class="sidebar-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
                            <i class="bi bi-menu-button-wide"></i><span Content-index>      Components</span>
                        </a>
                    </li><!-- End Components Nav -->

                    <li class="nav-item">
                        <a class="sidebar-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
                            <i class="bi bi-journal-text"></i><span Content-index>      Forms</span>
                        </a>
                       
                    </li><!-- End Forms Nav -->

                    <li class="nav-item">
                        <a class="sidebar-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
                            <i class="bi bi-layout-text-window-reverse"></i><span Content-index>     Tables</span>
                        </a>
                       
                    </li><!-- End Tables Nav -->

                    <li class="nav-item">
                        <a class="sidebar-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
                            <i class="bi bi-bar-chart"></i><span Content-index>      Charts</span>
                        </a>
                       
                    </li><!-- End Charts Nav -->

                    <li class="nav-item">
                        <a class="sidebar-link collapsed" data-bs-target="#icons-nav" data-bs-toggle="collapse" href="#">
                            <i class="bi bi-gem"></i><span Content-index>    Icons</span>
                        </a>
                        
                    </li><!-- End Icons Nav -->

                    <li class="nav-item">
                        <a class="sidebar-link collapsed" href="users-profile.html">
                            <i class="bi bi-person"></i>
                            <span Content-index>     Profile</span>
                        </a>
                    </li><!-- End Profile Page Nav -->

                    <li class="nav-item">
                        <a class="sidebar-link collapsed" href="pages-faq.html">
                            <i class="bi bi-question-circle"></i>
                            <span Content-index>     F.A.Q</span>
                        </a>
                    </li><!-- End F.A.Q Page Nav -->

                    <li class="nav-item">
                        <a class="sidebar-link collapsed" href="pages-contact.html">
                            <i class="bi bi-envelope"></i>
                            <span Content-index>     Contact</span>
                        </a>
                    </li><!-- End Contact Page Nav -->
                    <li class="nav-item">
                        <a class="sidebar-link collapsed" href="pages-login.html">
                            <i class="bi bi-box-arrow-in-right"></i>
                            <span Content-index>    Log Out</span>
                        </a>
                    </li><!-- End Login Page Nav -->
                </ul>

            </aside>

        <!-- end side bar-->
    </div>


    <div class="content">

        @RenderBody()


    </div>

    </div>
</body>
</html>
