@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<div class="col-md-6" style="margin-left: 25%">
    <h2 class="text-center">Đăng nhập</h2>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <form asp-action="Login" method="post" class="form-container">
        <div class="form-group">
            <label asp-for="userName" class="form-label">Tài khoản</label>
            <input asp-for="userName" class="form-control" placeholder="Email hoặc Tài khoản" />
            <span asp-validation-for="userName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="password" class="form-label"> Mật khẩu </label>
            <input asp-for="password" type="password" id="passwordField" class="form-control" placeholder="Nhập mật khẩu" />
            <span asp-validation-for="password" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="checkbox" id="showPassword" class="form-checkbox" onclick="togglePasswordVisibility()" />
            <label for="showPassword" class="form-checkbox-label">Show Password</label>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-submit">Login</button>
        </div>
        
        <div class="form-links">
            <a asp-action="Forgot" class="link">Forgot Password?</a>
        </div>
        <div class="form-links">
            Don't have an account? <a asp-action="Register" class="link">Register here</a>
        </div>
    </form>
</div>

<script>
    function togglePasswordVisibility() {
        var passwordField = document.getElementById("passwordField");
        if (passwordField.type === "password") {
            passwordField.type = "text";
        } else {
            passwordField.type = "password";
        }
    }
</script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
