@model IEnumerable<BookModel>

@{
	ViewData["Title"] = "Category";
	Layout = "~/Views/Shared/_NewLayout.cshtml";
}

@section Styles {
    <link rel="stylesheet" href="~/css/styles.css" />
}
<style>
    #slider-carousel .carousel-inner .item img {
        width: 100%;
        height: 100%;
    }
    #slider-carousel .carousel-inner {
        position: relative;
        width: 100%;
        height: 300px;
        overflow: hidden;
    }
    #slider-carousel .carousel-indicators li {
        background-color: #666;
    }
    #slider-carousel .carousel-indicators .active {
        background-color: #fff;
    }
    #slider-carousel .control-carousel i {
        font-size: 30px;
        color: #333;
        background-color: rgba(255, 255, 255, 0.7);
        padding: 10px;
        border-radius: 50%;
    }
        #slider-carousel .control-carousel i:hover {
            color: #fff;
            background-color: #333;
        }
</style>

<section id="slider">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="slider-carousel" class="carousel slide" data-ride="carousel" data-interval="5000">
                    <ol class="carousel-indicators">
                        <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#slider-carousel" data-slide-to="1"></li>
                        <li data-target="#slider-carousel" data-slide-to="2"></li>
                    </ol>

                    <div class="carousel-inner">
                        <div class="item active" style="padding-left: 0">
                            <img src="images/banner/banner6.jpg" alt="" />
                        </div>

                        <div class="item" style="padding-left: 0">
                            <img src="images/banner/banner5.jpg" alt="" />
                        </div>

                        <div class="item" style="padding-left: 0">
                            <img src="images/banner/banner4.jpg" alt="" />
                        </div>
                    </div>

                    <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!--/slider-->

<div class="col-sm-3">
	@await Html.PartialAsync("SidebarPartials")
</div>

<div class="col-sm-9 padding-right">
	<div class="features_items">
		<!--features_items-->
		<h2 class="title text-center">Features Items</h2>
		@foreach (var item in Model)
		{
			<div class="col-sm-4">
				<div class="product-image-wrapper">
					<a>
						<div class="single-products">
							<div class="productinfo text-center">
								<img src="~/images/book/@item.ImgLink" />
								<h2>$@item.Price</h2>
								<p>@item.Title</p>
								<!--
									<p> Danh mục: @item.Categories.CategoryName </p>
									<p> Nhà xuất bản: @item.Publisher.PublisherName </p>
								-->
								<a class="btn btn-default add-to-cart" asp-action="Add" asp-controller="Cart" asp-route-id="@item.BookId"><i class="fa fa-shopping-cart"> Giỏ hàng </i></a>
							</div>
						</div>
					</a>
					<div class="choose">
						<ul class="nav nav-pills nav-justified">
							<li><a href="#"><i class="fa fa-plus-square"></i>Yêu thích</a></li>
							<li><a href="#"><i class="fa fa-plus-square"></i>So sánh</a></li>
						</ul>
					</div>
				</div>
			</div>
		}
	</div>
</div>


