@model BookModel

@{
    ViewData["Title"] = "Create";
}

@section Styles {
    <link rel="stylesheet" href="~/css/adminSite.css" />
}

<div class="container">
    <h4>THÊM MỚI SÁCH</h4>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form asp-action="Create" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label>Tựa đề</label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger" />
                </div>
                <div class="form-group">
                    <label>Giá</label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger" />
                </div>
                <div class="form-group">
                    <label>Số lượng</label>
                    <input asp-for="Quantity" min="1" class="form-control" />
                    <span asp-validation-for="Quantity" class="text-danger" />
                </div>
                <div class="form-group">
                    <label>Hình ảnh</label>
                    <input asp-for="ImgLinkUpload" class="form-control" />
                    <span asp-validation-for="ImgLinkUpload" class="text-danger" />
                    <img id="imgpreview" class="pt-2"/>
                </div>
                <div class="form-group">
                    <label>Mô tả</label>
                    <textarea asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger" />
                </div>
                <div class="form-group">
                    <label>Tác giả</label>
                    <input asp-for="Author" class="form-control" />
                    <span asp-validation-for="Author" class="text-danger" />
                </div>
                <div class="form-group">
                    <label>Năm xuất bản</label>
                    <select asp-for="Publication" class="form-control" asp-items="ViewBag.Years">
                        <option>--Chọn năm--</option>
                    </select>
                    <span asp-validation-for="Publication" class="text-danger" />
                </div>
                <div class="form-group">
                    <label>Đánh giá</label>
                    <input asp-for="Point" class="form-control" />
                    <span asp-validation-for="Point" class="text-danger" />
                </div>
                <div class="form-group">
                    <label>Thể loại</label>
                    <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.Categories">
                        <option>--Chọn thể loại--</option>
                    </select>
                    <span asp-validation-for="CategoryId" class="text-danger" />
                </div>
                <div class="form-group">
                    <label>Nhà xuất bản</label>
                    <select asp-for="PublisherId" class="form-control" asp-items="ViewBag.Publishers">
                        <option>--Chọn nhà xuất bản--</option>
                    </select>
                    <span asp-validation-for="PublisherId" class="text-danger" />
                </div>
                <div class="form-group">
                    <button class="btn btn-primary">Thêm</button>
                </div>
            </form>
            <a asp-action="Index">Quay lại</a>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="https://cdn.ckeditor.com/4.22.1/standard/ckeditor.js"></script>
    <script>
        $("#ImgLinkUpload").change(function(){
            readURL(this);
        })
    </script>
    <script>
        CKEDITOR.replace('Description', {
            allowedContent: true, // Cho phép nội dung HTML không bị lọc
            startupMode: 'source' // Mở chế độ xem mã nguồn HTML khi khởi động
        });
    </script>
}
