<div id="bannerCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2000">
    <!-- Indicators (dots at the bottom) -->
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#bannerCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#bannerCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#bannerCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>

    <!-- Carousel items (slides) -->
    <div class="carousel-inner" style="width:100%">
        <div class="carousel-item active" data-bs-interval="2000">
            <img src="~/images/Home-images/banner1.png" class="d-block w-100" alt="Banner 1">
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="~/images/Home-images/banner2.png" class="d-block w-100" alt="Banner 2">
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="~/images/Home-images/banner6.jpg" class="d-block w-100" alt="Banner 3">
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="~/images/Home-images/banner4.jpg" class="d-block w-100" alt="Banner 4">
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="~/images/Home-images/banner5.jpg" class="d-block w-100" alt="Banner 6">
        </div>
    </div>

    <!-- Navigation buttons (previous & next) -->
    <button class="carousel-control-prev" type="button" data-bs-target="#bannerCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#bannerCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="section_services">
    <div class="container">
        <div class="row promo-box">

            <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                <div class="promo-item">
                    <div class="icon">
                        <img width="50" height="50" class="lazyload" src="~/images/Home-images/policy_image_2.svg" alt="Vận chuyển toàn quốc" />
                    </div>
                    <div class="info">
                        Vận chuyển <span>TOÀN QUỐC</span> <br> Thanh toán khi nhận hàng
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                <div class="promo-item">
                    <div class="icon">
                        <img width="50" height="50" class="lazyload" src="~/images/Home-images/policy_image_1.svg" alt="" />
                    </div>
                    <div class="info">
                        <span>Bảo đảm chất lượng</span> <br>Sản phẩm bảo đảm chất lượng.
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                <div class="promo-item">
                    <div class="icon">
                        <img width="50" height="50" class="lazyload" src="~/images/Home-images/thanh_toan.svg" alt="" />
                    </div>
                    <div class="info">
                        Tiến hành <span>THANH TOÁN</span> <br> Với nhiều <span>PHƯƠNG THỨC</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                <div class="promo-item">
                    <div class="icon">
                        <img width="50" height="50" class="lazyload" src="~/images/Home-images/doi_san_pham.svg" alt="" />
                    </div>
                    <div class="info">
                        <span>Đổi sản phẩm mới</span><br> nếu sản phẩm lỗi
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="center-text">
    <h2>Sách mới</h2>
</div>

<div class="container mt-5 book-section">
    <!-- Menu để chọn loại sách -->
    <div class="book-menu">
        <ul>
            <li><a href="#" data-category="all">Tất cả</a></li>
            <li><a href="#" data-category="fiction">Văn học</a></li>
            <li><a href="#" data-category="non-fiction">Viễn tưởng</a></li>
            <li><a href="#" data-category="science">Khoa học</a></li>
            <li><a href="#" data-category="history">Lịch sử</a></li>
        </ul>
    </div>

    <!-- Danh sách sách dưới dạng carousel -->
    <div id="bookCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false">
        <div class="carousel-inner">
            <!-- Slide 1 -->
            <div class="carousel-item active">
                <div class="row">
                    <div class="book-item">
                        <img src="https://toplist.vn/images/800px/tuoi-tho-du-doi-615341.jpg" alt="The Great Gatsby" class="img-fluid">
                        <h3>The Great Gatsby</h3>
                        <p>Tác giả: F. Scott Fitzgerald</p>
                        <p>Giá: $10.00</p>
                    </div>
                    <div class="book-item">
                        <img src="https://toplist.vn/images/800px/tuoi-tho-du-doi-615341.jpg" alt="Becoming" class="img-fluid">
                        <h3>Becoming</h3>
                        <p>Tác giả: Michelle Obama</p>
                        <p>Giá: $20.00</p>
                    </div>
                    <div class="book-item">
                        <img src="https://toplist.vn/images/800px/tuoi-tho-du-doi-615341.jpg" alt="A Brief History of Time" class="img-fluid">
                        <h3>A Brief History of Time</h3>
                        <p>Tác giả: Stephen Hawking</p>
                        <p>Giá: $15.00</p>
                    </div>
                    <div class="book-item">
                        <img src="https://toplist.vn/images/800px/tuoi-tho-du-doi-615341.jpg" alt="Sapiens" class="img-fluid">
                        <h3>Sapiens</h3>
                        <p>Tác giả: Yuval Noah Harari</p>
                        <p>Giá: $18.00</p>
                    </div>
                    <div class="book-item">
                        <img src="https://toplist.vn/images/800px/tuoi-tho-du-doi-615341.jpg" alt="Sapiens" class="img-fluid">
                        <h3>Sapiens</h3>
                        <p>Tác giả: Yuval Noah Harari</p>
                        <p>Giá: $18.00</p>
                    </div>
                </div>
            </div>
            <!-- Slide 2 -->
            <div class="carousel-item">
                <div class="row">
                    <div class="book-item">
                        <img src="https://toplist.vn/images/800px/tuoi-tho-du-doi-615341.jpg" alt="The Catcher in the Rye" class="img-fluid">
                        <h3>The Catcher in the Rye</h3>
                        <p>Tác giả: J.D. Salinger</p>
                        <p>Giá: $12.00</p>
                    </div>
                    <div class="book-item">
                        <img src="https://toplist.vn/images/800px/tuoi-tho-du-doi-615341.jpg" alt="1984" class="img-fluid">
                        <h3>1984</h3>
                        <p>Tác giả: George Orwell</p>
                        <p>Giá: $14.00</p>
                    </div>
                    <div class="book-item">
                        <img src="https://toplist.vn/images/800px/tuoi-tho-du-doi-615341.jpg" alt="To Kill a Mockingbird" class="img-fluid">
                        <h3>To Kill a Mockingbird</h3>
                        <p>Tác giả: Harper Lee</p>
                        <p>Giá: $11.00</p>
                    </div>

                    <div class="book-item">
                        <img src="https://toplist.vn/images/800px/tuoi-tho-du-doi-615341.jpg" alt="Moby Dick" class="img-fluid">
                        <h3>Moby Dick</h3>
                        <p>Tác giả: Herman Melville</p>
                        <p>Giá: $13.00</p>
                    </div>
                    <div class="book-item">
                        <img src="https://toplist.vn/images/800px/tuoi-tho-du-doi-615341.jpg" alt="1984" class="img-fluid">
                        <h3>1984</h3>
                        <p>Tác giả: George Orwell</p>
                        <p>Giá: $14.00</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Nút điều hướng trái -->
        <button class="carousel-control-prev" type="button" data-bs-target="#bookCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>

        <!-- Nút điều hướng phải -->
        <button class="carousel-control-next" type="button" data-bs-target="#bookCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>


<div class="center-text">
    <h2>Khuyến mãi</h2>
</div>

<div class="banner-container">
    <!-- Banner 1 -->
    <div class="banner">
        <img src="https://colour.vn/wp-content/uploads/mau-banner-quang-cao-khuyen-mai.jpg" alt="Banner 1">
    </div>

    <!-- Banner 2 -->
    <div class="banner">
        <img src="https://colour.vn/wp-content/uploads/mau-banner-quang-cao-khuyen-mai.jpg" alt="Banner 2">
    </div>

    <!-- Banner 3 -->
    <div class="banner">
        <img src="https://colour.vn/wp-content/uploads/mau-banner-quang-cao-khuyen-mai.jpg" alt="Banner 3">
    </div>
</div>

<div class="center-text">
    <h2>Truyện tranh</h2>
</div>

<!-- Danh sách sách được dàn ngang -->
<div class="book-list">
    <!-- Sách 1 -->
    <div class="book-item">
        <img src="https://toplist.vn/images/800px/tuoi-tho-du-doi-615341.jpg" alt="The Great Gatsby">
        <h3>The Great Gatsby</h3>
        <p>Tác giả: F. Scott Fitzgerald</p>
        <p>Giá: $10.00</p>
    </div>

    <!-- Sách 2 -->
    <div class="book-item">
        <img src="https://toplist.vn/images/800px/tuoi-tho-du-doi-615341.jpg" alt="Becoming">
        <h3>Becoming</h3>
        <p>Tác giả: Michelle Obama</p>
        <p>Giá: $20.00</p>
    </div>

    <!-- Sách 3 -->
    <div class="book-item">
        <img src="https://toplist.vn/images/800px/tuoi-tho-du-doi-615341.jpg" alt="A Brief History of Time">
        <h3>A Brief History of Time</h3>
        <p>Tác giả: Stephen Hawking</p>
        <p>Giá: $15.00</p>
    </div>

    <!-- Sách 4 -->
    <div class="book-item">
        <img src="https://toplist.vn/images/800px/tuoi-tho-du-doi-615341.jpg" alt="Sapiens: A Brief History of Humankind">
        <h3>Sapiens</h3>
        <p>Tác giả: Yuval Noah Harari</p>
        <p>Giá: $18.00</p>
    </div>

    <!-- Sách 5 -->
    <div class="book-item">
        <img src="https://toplist.vn/images/800px/tuoi-tho-du-doi-615341.jpg" alt="Sapiens: A Brief History of Humankind">
        <h3>Sapiens</h3>
        <p>Tác giả: Yuval Noah Harari</p>
        <p>Giá: $18.00</p>
    </div>
</div>

<div class="center-text">
    <h2>Tiểu thuyết</h2>
</div>

<!-- Danh sách sách được dàn ngang -->
<div class="book-list">
    <!-- Sách 1 -->
    <div class="book-item">
        <img src="https://toplist.vn/images/800px/tuoi-tho-du-doi-615341.jpg" alt="The Great Gatsby">
        <h3>The Great Gatsby</h3>
        <p>Tác giả: F. Scott Fitzgerald</p>
        <p>Giá: $10.00</p>
    </div>

    <!-- Sách 2 -->
    <div class="book-item">
        <img src="https://toplist.vn/images/800px/tuoi-tho-du-doi-615341.jpg" alt="Becoming">
        <h3>Becoming</h3>
        <p>Tác giả: Michelle Obama</p>
        <p>Giá: $20.00</p>
    </div>

    <!-- Sách 3 -->
    <div class="book-item">
        <img src="https://toplist.vn/images/800px/tuoi-tho-du-doi-615341.jpg" alt="A Brief History of Time">
        <h3>A Brief History of Time</h3>
        <p>Tác giả: Stephen Hawking</p>
        <p>Giá: $15.00</p>
    </div>

    <!-- Sách 4 -->
    <div class="book-item">
        <img src="https://toplist.vn/images/800px/tuoi-tho-du-doi-615341.jpg" alt="Sapiens: A Brief History of Humankind">
        <h3>Sapiens</h3>
        <p>Tác giả: Yuval Noah Harari</p>
        <p>Giá: $18.00</p>
    </div>

    <!-- Sách 5 -->
    <div class="book-item">
        <img src="https://toplist.vn/images/800px/tuoi-tho-du-doi-615341.jpg" alt="Sapiens: A Brief History of Humankind">
        <h3>Sapiens</h3>
        <p>Tác giả: Yuval Noah Harari</p>
        <p>Giá: $18.00</p>
    </div>
</div>

<div class="center-text">
    <h2>Tin tức</h2>
</div>

<!-- Container chứa các tin tức -->
<div class="news-container">
    <!-- Tin tức 1 -->
    <div class="news-item">
        <img src="https://th.bing.com/th/id/OIP._JwQDfiGgINcye0ijr0fqQHaEi?rs=1&pid=ImgDetMain" alt="News 1">
        <div class="news-content">
            <p>Tin tức 1: Nội dung ngắn về tin tức này.</p>
        </div>
    </div>

    <!-- Tin tức 2 -->
    <div class="news-item">
        <img src="https://th.bing.com/th/id/OIP._JwQDfiGgINcye0ijr0fqQHaEi?rs=1&pid=ImgDetMain" alt="News 2">
        <div class="news-content">
            <p>Tin tức 2: Nội dung ngắn về tin tức này.</p>
        </div>
    </div>

    <!-- Tin tức 3 -->
    <div class="news-item">
        <img src="https://th.bing.com/th/id/OIP._JwQDfiGgINcye0ijr0fqQHaEi?rs=1&pid=ImgDetMain" alt="News 3">
        <div class="news-content">
            <p>Tin tức 3: Nội dung ngắn về tin tức này.</p>
        </div>
    </div>

    <!-- Tin tức 4 -->
    <div class="news-item">
        <img src="https://th.bing.com/th/id/OIP._JwQDfiGgINcye0ijr0fqQHaEi?rs=1&pid=ImgDetMain" alt="News 4">
        <div class="news-content">
            <p>Tin tức 4: Nội dung ngắn về tin tức này.</p>
        </div>
    </div>
</div>