@model IEnumerable<BookModel>

 @{
     ViewData["Title"] = "";
     Layout = "~/Views/Shared/_Layout.cshtml";
 }

<div id="bannerCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2000">
    <!-- Indicators (dots at the bottom) -->
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#bannerCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#bannerCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#bannerCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>

    <!-- Carousel items (slides) -->
    <div class="carousel-inner" style="width:100%">
        <div class="carousel-item active" data-bs-interval="2000">
            <img src="~/images/Home-images/banner1.png" class="d-block w-100" alt="Banner 1">
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="~/images/Home-images/banner2.png" class="d-block w-100" alt="Banner 2">
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="~/images/Home-images/banner6.jpg" class="d-block w-100" alt="Banner 3">
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="~/images/Home-images/banner4.jpg" class="d-block w-100" alt="Banner 4">
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="~/images/Home-images/banner5.jpg" class="d-block w-100" alt="Banner 6">
        </div>
    </div>

    <!-- Navigation buttons (previous & next) -->
    <button class="carousel-control-prev" type="button" data-bs-target="#bannerCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#bannerCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>



@await Html.PartialAsync("SidebarPartials")

<div class="col-sm-9 padding-right">
    <div class="features_item" >  <!-- features-items -->
        <h2 class="title text-center"> Features Items </h2>
        @foreach (var item in Model)
        {
            <div class="col-sm-4">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <img src="~/images/book/@item.ImgLink" width="120%"/>
                            <h2>$@item.Price</h2>
                            <p>@item.Title</p>
                            <a href="#" class="btn btn-default add-to-cart">
                                <i class="fa fa-shopping-cart"></i>
                            </a>
                        </div>
                    </div> 
                    <div class="choose" >
                        <ul class="nav nav-pills nav-justified" >
                            <li><a href="#"><i class="fa fa-plus-square"></i>Yêu thích</a></li>
                            <li><a href="#"><i class="fa fa-plus-square"></i>So sánh</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


