
@{
    ViewData["Title"] = "Map";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="destination">
    <div class="location-list">
        <div class="location-item" onclick="showLocation(10.762622, 106.660172)">
            KTX Đại học GTVT PH tại TP Hồ Chí Minh <br> Tăng Nhơn Phú A, Quận 9, Hồ Chí Minh, Việt Nam <br>
        </div>
        <!-- Thêm các địa điểm khác ở đây -->
    </div>
    <div class="map-container" id="map">

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.577924674751!2d106.79258357369164!3d10.84357708930931!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175273de0961855%3A0x945a3348cc96bb84!2zS8ONIFTDmkMgWMOBIMSQ4bqgSSBI4buMQyBHSUFPIFRIw5RORyBW4bqsTiBU4bqiSSBQSMOCTiBISeG7hlUgVOG6oEkgVFAuSENN!5e0!3m2!1svi!2s!4v1730611326322!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    </div>
